# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.env
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
flutter_app.iml

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/.symlinks/
**/ios/**/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/GeneratedPluginRegistrant.*
**/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon*
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner.xcodeproj/project.xcworkspace
**/ios/Runner.xcodeproj/xcshareddata/
**/ios/Runner.xcworkspace/xcshareddata/
**/ios/ServiceDefinitions.json
**/ios/Pods/
**/ios/build/
**/ios/DerivedData/
**/ios/.generated/
**/ios/Flutter/ephemeral/

# macOS
**/macos/Flutter/ephemeral
**/macos/Pods/
**/macos/.symlinks 

# Mock server build artifacts
/mock_api_server/build/

# Secrets management
secrets.*.json
!secrets.*.json.example 